---
title: Page Not Found
layout: layouts/base.njk
---
<div class="flex flex-col items-center justify-center min-h-screen bg-[#6699C3] text-center">
  <h1 class="text-6xl font-bold text-gray-800">404</h1>
    <h2 class="text-3xl font-semibold text-gray-800 mt-4">Lost in the Wind?</h2>
  <p class="text-2xl text-gray-800 mt-4">The page you’re looking for doesn’t exist — but the stories are still here, waiting to be discovered.</p>
    <a href="/index" class="mt-6 px-4 py-2 bg-[#F8FBFC] text-gray-800 rounded-lg hover:bg-[#F5B41A] transition duration-300">Return Home</a>
</div>