---
title: Página no encontrada
layout: layouts/base.njk
---
<div class="flex flex-col items-center justify-center min-h-screen bg-[#6699C3] text-center">
  <h1 class="text-6xl font-bold text-gray-800">404</h1>
    <h2 class="text-3xl font-semibold text-gray-800 mt-4">¿Perdido en el viento?</h2>
  <p class="text-2xl text-gray-800 mt-4">La página que buscas no existe, pero las historias siguen aquí, listas para ser descubiertas.</p>
    <a href="/index" class="mt-6 px-4 py-2 bg-[#F8FBFC] text-gray-800 rounded-lg hover:bg-[#F5B41A] transition duration-300">Volver al inicio</a>
</div>