---
title: about
layout: layouts/base.njk
---
    
    <section class="bg" style="position: relative;">
        <div class="about">
            <h1>Conozca al Equipo</h1>
        </div>
    </section>

    <section class="intro" style="background-color: #6699c3; padding: 5rem 1rem;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; margin-left: 5%; margin-right: 5%;">
            <p>Somos un equipo de estudiantes de periodismo y profesores comprometidos con contar historias globales impactantes.</p>
            <p>Almas al Viento, un proyecto de MEJO 584 en UNC-Chapel Hill, explora la crisis de inflación en Argentina a través de historias personales de lucha, resiliencia y esperanza. Mientras aprendemos a enfrentar los desafíos del periodismo intercultural, nuestro objetivo es generar conversación e inspirar a la acción.</p>
        </div>
    </section>

    <section class="team">
            <div class="control">
                <button type="button" data-filter="all">Todos</button>
                <button type="button" data-filter=".Reporter">Reporteros</button>
                <button type="button" data-filter=".Photographer">Fotógrafos</button>
                <button type="button" data-filter=".Videographer">Videógrafos</button>
                <button type="button" data-filter=".Interactive">Equipo Interactivo</button>
                <button type="button" data-filter=".Producer">Productores</button>
                <button type="button" data-filter=".Coach">Mentores</button>
            </div>
            
            <div class="container-about">
                {% for member in aboutPage %}
                <div class="team-member mix {{ member.role["en"] }}">
                    <img loading="lazy" decoding="async" src="{{ member.imgOneURL }}.jpg" alt="{{ member.name }}">
                    <h4>{{ member.name }}</h4>
                    {% if member.name === "Pat Davison" %}<p>Productor Ejecutivo y {{ member.role["es"] }}</p>{% else %}<p>{{ member.role["es"] }}</p>{% endif %}
                    <div class="flex">
                        {% if member.instagram %}
                            <a href="https://instagram.com/{{ member.instagram | replace('@', '') }}" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                        {% endif %}
                        {% if member.facebook %}
                            <a href="https://www.facebook.com/{{ member.facebook }}" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        {% endif %}
                        {% if member.LinkedIn %}
                            <a href="{{ member.LinkedIn }}" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        {% endif %}
                        {% if member.portfolio %}
                            <a href="{{ member.portfolio }}" target="_blank">
                                <i class="fa-solid fa-globe"></i>
                            </a>
                        {% endif %}
                        {% if member.X %}
                            <a href="https://twitter.com/{{ member.X | replace('@', '') }}" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        {% endif %}
                        {% if member.bluesky %}
                            <a href="https://bsky.app/profile/{{ member.bluesky }}" target="_blank">
                                <i class="fa-brands fa-square-bluesky"></i>
                            </a>
                        {% endif %}
                        {% if member.Substack %}
                            <a href="https://{{ member.Substack }}" target="_blank">
                                <i class="fa-solid fa-bookmark"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>    
    </section>

    <section class="acknowledgementpart">
        <div class="acknowledgements" style="display: flex; justify-content: center; align-items: center; text-align: center;">
            <h2>Un agradecimiento especial a los siguientes:</h2>
        </div>
        <div class="insitutions" style="display: flex; justify-content: center; align-items: center; text-align: center;">
            <p style="margin-right: 20px; line-height: 1.4;">
                Hernan Cappiello
            </p>
            <p style="margin-right: 20px; line-height: 1.4;">
                Soledad Arreguez
            </p>
            <p style="margin-right: 20px; line-height: 1.4;">
                Kyle Winters
            </p>
            <p style="margin-right: 20px; line-height: 1.4;">
                Gary Kirk
            </p>
            <p style="margin-right: 20px; line-height: 1.4;">
                Charlie Tuggle
            </p>
            <p style="margin-right: 20px; line-height: 1.4;">
                Raul Reis
            </p>
            <p style="margin-right: 20px; line-height: 1.4;">
                Estudiantes en MEJO 557: Edición avanzada
            </p>
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/mixitup@3/dist/mixitup.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        mixitup('.container-about', {
            selectors: {
                target: '.team-member'
            },
            animation: {
                duration: 300
            }
        });
    });
</script>