---
title: about
layout: layouts/about.njk
---
    <section class="bg" style="position: relative;">
        <div class="about" style="margin: 0; position: relative; display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
            <h1>Meet the Team</h1>
        </div>
    </section>

    <section class="team">
            <div class="control">
                <button type="button" data-filter="all">All</button>
                <button type="button" data-filter=".Reporters">Reporters</button>
                <button type="button" data-filter=".Photographers">Photographers</button>
                <button type="button" data-filter=".Videographers">Videographers</button>
                <button type="button" data-filter=".Interactive">Interactive Team</button>
                <button type="button" data-filter=".Producers">Producers</button>
                <button type="button" data-filter=".Coaches">Coaches</button>
            </div>
            <div class="container">
                <div class="mix Reporters">
                    <img src="/assets/img/Zhang1.jpg" alt="Portrait 1" style="width: 100px;">                
                    <p>Jiayi</p>
                </div>
                <div class="mix Photographers">
                    <img src="/assets/img/Zhang1.jpg" alt="Portrait 2" style="width: 100px;">                
                    <p>Kyren</p>
                </div>
            </div>
    </section>

    <section class="acknowledgementpart">
        <div class="acknowledgements" style="display: flex; justify-content: center; align-items: center; text-align: center;">
            <h2>Acknowledgements</h2>
        </div>
        <div class="insitutions" style="display: flex; justify-content: center; align-items: center; text-align: center;">
            <p style="margin-right: 20px; line-height: 1.4;">
                Lorem ipsum odor amet, consectetur adipiscing elit.
            </p>
            <img src="/assets/img/grouppic.JPG" alt="Group Picture" style="width: 100px;">
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/mixitup@3/dist/mixitup.min.js"></script>
<script>
   var containerEl = document.querySelector('.container');
   var mixer = mixitup(containerEl);
</script>