/* About Section */
.about {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('/assets/img/uploads/grouppic.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

.about h1 {
    color: #ffffff;
    font-family: 'Lora', serif;
}

/* Intro Section */
.intro {
    background-color: #6698C3;
}

.intro p {
    color: white; /* Change text color to white */
    font-family: 'Lora', serif;
}

/* Team Section */
.team .control {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.team .control button {
    background-color: #F5B41A;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
}

.team .control button:hover {
    background-color: #F5B41A;
}

.team .container-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}


.team .mix img {
    border-radius: 50%;
    width: 200px; /* Increase the width of the image */
    height: 200px; /* Set a proportional height */
    object-fit: cover; /* Ensure the image fits within the dimensions */
    margin-bottom: 20px; /* Maintain spacing between the image and the text */
}

.team .mix p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    font-family: 'Lora', serif;
}

/* For large screens: 4 blocks per row */
.team .mix {
    width: calc(25% - 1rem); /* 4 items per row */
}

/* For medium screens: 2 blocks per row */
@media (max-width: 1024px) {
    .team .mix {
        width: calc(50% - 1rem); /* 2 items per row */
    }
}

/* For small screens: 1 block per row */
@media (max-width: 600px) {
    .team .mix {
        width: 100%; /* 1 item per row */
    }

    .team .control {
        display: none;
    }
}

.mix {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Align content to the left */
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center; /* Ensure text is left-aligned */
}



.mix a i {
    font-size: 20px;
}

.team-member a {
    display: inline-block;
    margin-right: 0.5rem; /* optional: space between icons */
    vertical-align: middle;
}

/* Acknowledgements Section */
.acknowledgementpart {
    padding: 2rem 1rem;
    text-align: center;
}

.acknowledgements h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.insitutions p {
    font-size: 1rem;
    line-height: 1.6;
    margin-right: 1rem;
}

.insitutions img {
    width: 120px;
}




