/* About Section */
.about {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('/assets/img/uploads/grouppic.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

.about h1 {
    color: #ffffff;
    font-family: 'Lora', serif;
}

/* Intro Section */
.intro {
    background-color: #6698C3;
}

.intro p {
    color: white; /* Change text color to white */
    font-family: 'Lora', serif;
}

/* Team Section */
.team .control {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.team .control button {
    background-color: #F5B41A;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
}

.team .control button:hover {
    background-color: #F5B41A;
}

.team .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right; /* Center-align the blocks */
    gap: 1rem;
}

.team .mix {
    text-align: center;
    width: 250px;
}

.team .mix img {
    border-radius: 50%;
    width: 150px; /* Increase the width of the image */
    height: 150px; /* Set a proportional height */
    object-fit: cover; /* Ensure the image fits within the dimensions */
    margin-bottom: 10px; /* Maintain spacing between the image and the text */
}

.team .mix p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.mix {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: flex-start; /* Align content to the left */
    margin-bottom: 20px;
    text-align: left; /* Ensure text is left-aligned */
}

.mix div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
}

.mix div p {
    margin: 5px 0; /* Add consistent spacing between text lines */
}

.mix a {
    display: inline-block;
    margin-top: 5px;
    text-align: left; /* Ensure the link is left-aligned */
}

.mix a i {
    font-size: 20px;
}

/* Acknowledgements Section */
.acknowledgementpart {
    padding: 2rem 1rem;
    text-align: center;
}

.acknowledgements h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.insitutions p {
    font-size: 1rem;
    line-height: 1.6;
    margin-right: 1rem;
}

.insitutions img {
    width: 120px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container .mix {
        flex: 0 0 calc(50% - 1rem); /* 2 items per row */
    }
}

@media (max-width: 480px) {
    .container .mix {
        flex: 0 0 100%; /* 1 item per row */
    }
}


